<div class="container">
  <h1>Feel free to contact us!</h1>
  <form [formGroup]="contact" (ngSubmit)="onSubmit()">
    <label class="m-2">
      Full Name:
      <input type="text" class="form-control" formControlName="fullname">
    </label>
    <label class="m-2">
      Favourite Car Brand:
      <input type="text" class="form-control" formControlName="carBrand">
    </label>
    <label class="m-2">
      Age:
      <input type="number" class="form-control" formControlName="age">
    </label>
    <label class="m-2">
      Email:
      <input type="email" class="form-control" formControlName="email">
    </label>
    <input type="submit" class="btn btn-primary m-2" value="Submit">
    <p ng-show="submitted">Thank you {{this.contact.value.fullname}}! We will see if {{this.contact.value.carBrand}} is available.</p>
    
  </form>
</div>