<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="assets/img/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    Bootstrap
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav pull-left">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-us">Contact us</a>
      </li>
    </ul>
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <!-- also works
        <span class="badge badge-success" [class.d-none]="donationValue < 200">
          You are a VIP donor!
        </span>
        -->
        <span class="badge badge-success">
          <ng-template [ngIf]="donationValue >= 200">You are a VIP donor!</ng-template>
        </span>
      </li>
    </ul>
    <ul class="navbar-nav pull-right">
      <li class="nav-item">
        <span class="navbar-text mr-2">
          Donate money for cars in need
        </span>
        <button class="btn btn-sm btn-outline-secondary" type="button"
          (click)="clickCount()">{{donationValue}}€</button>
      </li>
    </ul>
  </div>


</nav>